src/main/mule/sample-pro.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41941188-807d-4183-8f88-c3e74643d9bb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-pro-Flow" doc:id="dd6f79f8-662d-4c57-ac0b-f95cef2150f9" >
		<http:listener doc:name="Listener" doc:id="3da9167f-c876-49ba-b406-3dee7d46d6f1" config-ref="HTTP_Listener_config" path="/samplepro"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8c0cbcde-0e9a-4250-a0f1-e6b1e010e5f0" />
		<ee:transform doc:name="Transform Message" doc:id="fa2b0892-c637-483a-893c-2f315cb909b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message": "project deployment successfully done "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0785bb74-31a2-4372-a217-3314b3fcf8af" message="This is a sample project for deployment using maven : #[payload]"/>
	</flow>
</mule>
